.detailshead
{
    margin-top: 20px;
    padding: 20px;
    padding-top: 80px;
    border-bottom: 1px dashed #B8ADE2;
    background: #FCF9FF url('assets/gsecbadge.png');
    background-repeat: no-repeat;
    background-position: center right;

    .topDetails
    {
        
        padding-right: 100px;
        h4{
            font-weight: 600;
            font-size: 16px;
            line-height: 170%;
        }
        h2{
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            background: linear-gradient(90deg, #7328D9 0%, #8D26D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6D6D6D;
        }
    }
    .detailsTags
    {
        white-space: nowrap;
        overflow: auto;
        margin-top: 20px;
        display: flex;
        gap: 15px;

        span{
            white-space: nowrap;
            padding: 8px 10px;
            background: #FAFEFF;
            border: 1px solid #E6D6FB;
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #000000;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
    }
}

.investmentDetails
{
    padding: 20px;
    background: #FCF9FF;;
    p{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #898989;
    }
    h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #303030;
    }
    .tenureReturns
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        span{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #ACABAB;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #303030;
        }
    }
}
.investCmsDetails
{
    padding: 20px;
    h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #313131;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        span{
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            color: #8728D5;
            background: #F8F0FF;
            border-radius: 4px;
            padding: 2px 5px;            
            display: flex;
            gap: 5px;
        }
    }
    .govtBlock{
        background: url("assets/gsecbadge.png"),linear-gradient(90deg, #7328D9 0%, #8D26D2 100%);
        border-radius: 8px;
        min-height: 144px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background-repeat: no-repeat;
        background-position: right center;

        h2{
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
        }

        .readNow{
            margin-top: 24px;
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
    }
}

.gsecIndeemandWrap
{
    padding: 20px;
    .GsecIndemand
    {
        h2{
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #1D1D1D;
            margin-bottom: 18px;
        }
        .SingleIndemand
        {
            margin: 18px 0;
            position: relative;
            background: linear-gradient(131.53deg, #4940A9 4.06%, #241F55 96.05%);
            border-radius: 20px;
            padding: 20px;
            width: 100%;
            float: left;

            .timer{
                background: linear-gradient(136.05deg, #FBBF00 4.24%, #FF421D 102.48%);
                position: absolute;
                top: 0;
                right: 20px;
                padding: 5px 10px;
                border-radius: 20px;
                color: #fff;
                font-weight: 400;
                font-size: 14px;
                transform: translate(0px, -50%);
                display: flex;
                align-items: center;
                gap: 7px;
            }

            .gsecType
            {
                background: #160F58;
                position: absolute;
                top: -8px;
                font-weight: 500;
                font-size: 12px;
                color: #fff;
                padding: 3px 10px;
                left: 20px;
                border-radius: 0 0px 5px 5px;

                &::after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-bottom: 8px solid #160f58;
                    border-right: 16px solid transparent;
                    top: 0px;
                    position: absolute;
                    left: 100%;
                    transform: translate(-0.3px, 0px);
                }
            }

            .head
            {
                display: grid;
                grid-template-columns: 70px auto;
                align-items: center;
                gap: 20px;
                margin-top: 25px;
                
                img{
                    max-width: 100%;
                    background: #FFFFFF;
                    border-radius: 15px;
                }
                h2{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }
            .investmentDetailsCard
            {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                p{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #B2AFD3;
                }
                h2{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                }
            }
            button{
                background: linear-gradient(144.66deg, #FF9556 3.94%, #F36F21 91.87%);
                border: 1px solid #F36F21;
                border-radius: 96px;
                width: 100%;
                max-width: 240px;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #FFFFFF;
                margin: auto;
                display: block;
                min-height: 50px;
            }
        }

    }
}

.othersInvestmnet
{
    .searchSection
    {
        h2
        {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
        }
        input{
            background: url('./assets/icon9.png');
            background-repeat: no-repeat;
            background-position: left 20px center;
            border: 1px solid #C6C6C6;
            border-radius: 50px;
            height: 40px;
            padding-left: 45px;
            margin-top: 15px;
            margin-bottom: 20px;
            width: 100%;
            max-width: none;
        }
    }

    .sorting
    {
        display: flex;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #3A3387;
        gap: 12px;
        white-space: nowrap;
        overflow: auto;
        margin-bottom: 20px;

        span{
            padding: 2px 8px;
            display: flex;
            align-items: center;
            border: 1px solid #A6A6A6;
            border-radius: 18px;
            gap: 8px;
        }
    }

    width: 100%;
    padding: 0 20px;
    .singleDetails
    {
        box-shadow: 0px 2px 12px rgb(0 0 0 / 10%);
        margin: 15px 0;
        padding: 18px;
        position: relative;
        width: 100%;
        float: left;
        border-radius: 16px;

        .topTag
        {
            position: absolute;
            right: 18px;
            top: 0;
            background: #DAFFE1;
            padding: 2px 8px;
            color: #13B03F;
            transform: translate(0px,-50%);
        }
        .headTop
        {
            display: grid;
            grid-template-columns: 50px auto;
            gap: 15px;
            align-items: center;
            img{
                max-width: 100%;
            }
            h2{
                font-weight: 700;
                font-size: 20px;
            }
            span
            {
                font-weight: 300;
                font-size: 12px;
            }
        }
        .investmentDetailsCard
        {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            h2{
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
            }
            p{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}

.noResult
{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}